.jumbotron {
  padding-top: 6rem;
  /* height: 100vh; */
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

footer a {
  text-decoration: none;
  z-index: 1;
}

section {
  padding-top: 5rem;
}

.deketfooter {
  position: relative;
  z-index: -1;
  top: 5px;
}
